html,
body 
{
	margin: 0;
	padding: 0;
	background-color: #FCFCFC;
}

.sidebar 
{
	height: 100%;
	width: 20%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #343131;
	overflow-x: hidden;
	padding-left: 2.5%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.sidebar a {
	text-decoration: none;
	font-size: 25px;
	color: #b3e5fc;
	display: block;
	font-family: 'Zilla Slab', serif;
}

.logo {
	background-color: #64B7DC;
	height: 22.5%;
	margin-left: -12.5%;
	margin-bottom: 10%;
}

.logo img {
	padding-left: 12.5%;
	padding-top: 12.5%;
}

.main {
	margin-left: 30%;
	margin-top: 4%;
	font-family: 'Zilla Slab', serif;
	background-color: #FCFCFC;
	min-height: 100vh;
	margin-right: 5%;
}

.link {
	margin-left: -12.5%;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	padding-bottom: 4%;
	padding-top: 4%;
}

.link a {
	margin-left: 12.5%;
}

.link img
{
	display: none;
}

.link:hover {
	background-color: #706E6E;
}

hr {
	height: 10px;
	border: 0;
	margin-left: -2.5%;
	margin-top: 4%;
	background-image: -webkit-gradient(linear, left top, right top, from(#AFF4F5), to(#2a7faa));
	background-image: -webkit-linear-gradient(left, #AFF4F5, #2a7faa);
	background-image: -o-linear-gradient(left, #AFF4F5, #2a7faa);
	background-image: linear-gradient(to right, #AFF4F5, #2a7faa);
	margin-bottom: 5%;
}

.container {
	height: 60vh;
	width: 60vw;
	min-height: 0;
	min-width: 0;
	border-radius: 5%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
}

.progress {
	-webkit-box-flex: 3;
	    -ms-flex-positive: 3;
	        flex-grow: 3;
	opacity: 0.95;
	background-color: #343131;
	max-width: 38vw;
	max-height: 55vh;
	color: white;
}

.card {
	-webkit-box-flex: 2;
	    -ms-flex-positive: 2;
	        flex-grow: 2;
	opacity: 0.95;
	background-color: #343131;
	color: white;
	max-height: 55vh;
	margin-left: 1%;
	overflow: hidden;
}

.header {
	background-color: #343131;
	height: 5vh;
	text-align: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-line-pack: center;
	    align-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-radius: 3%;
}

#text {
	color: black;
	font-size: 1.3em;
	background-color: #3498db;
	font-family: 'Zilla Slab', serif;
	border-radius: 3%;
}

.mod {
	display: none;
	position: fixed;
	padding-top: 7%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 5;
}

.content {
	background-color: #343131;
	margin: auto;
	padding: 2%;
	border-radius: 1%;
	width: 80%;
	height: 70%;
	overflow: auto;
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.container1 {
	width: 100%;
	background-color: white;
}

.skills {
	text-align: right;
	padding-right: 1em;
	line-height: 2em;
	color: white;
}

#code {
	width: 90%;
	background-color: #3498db;
}

#web {
	width: 80%;
	background-color: #3498db;
}

#app {
	width: 10%;
	background-color: #3498db;
}

#design {
	width: 60%;
	background-color: #3498db;
}

#hash {
	width: 30%;
	background-color: #3498db;
}

#hold {
	width: calc(100% - 1em);
	height: calc(100% - 5em);
	background-color: #343131;
}

.subhead {
	background-color: #343131;
	margin: 1%;
	font-family: 'Zilla Slab', serif;
	font-size: 1.2em;
	text-align: center;
	color: white
}

#rewardshead {
	margin-top: 0;
	color: white;
	font-family: 'Zilla Slab', serif;
	font-size: 2em;
	text-align: center;
	border-bottom: 1px solid #ffffff;
}

canvas {
	margin: 3%;
	background-color: #343131;
}
